*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.top {
   
    text-align:center;
    font-size: 300%;
    letter-spacing: 8px;
    margin-bottom: 10px ;
    padding-left: 0%;
    line-height:60px;
    box-shadow:1px 1px 10px rgb(200, 192, 177);
    color: #aa989a;
}
.nav{
    font-size: 15px;
    height: 50px;
    
}
.nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 20px;

}
.nav li{
    margin: 0 50px;
    padding: 10px;
}
.nav ul li a{
    color: #aa989a;
    text-decoration: none;
}

.nav ul li :hover{   
    opacity: 0.5;
}

/**TOP**/

.box{
    margin: 50px;
    margin-top: 20px;
    text-align: center;

  
}
.pv{
    color: #aa989a;
    padding-left: 40%;
    border-left: 40px;
}
  
  .vidio1{
    position: relative;
    width: 100%;
    margin: 0;
   
    text-align: right;
  }
  .vidio1 video{
    position:relative;
    width: 800px;
  
  }
 
 
  #vidio{
   width: 200px;
   margin: 50%;
  
   margin: 0px 250px;
    text-align: right;
  }
  .vidio2{
    text-align: left;
    width: 100%;
    margin-top: 100px;
  }
  #myVideo2{
    position:relative;
    width: 800px;
  }
  #text{
    text-align: left;
    position:absolute;
    margin: 13% 0% 10% 12%;
    letter-spacing: 20px;

  }
  .a123{
    background-color: rgb(229, 210, 210);
    width: 400px;
    height: 5px;
    position:absolute;
    margin: 17% 80% 10% 0%;
  }
  #text2{
    text-align: right;
    position:absolute;
    margin: 18% 0% 0% 60%;
    letter-spacing: 20px;
    width: 300px;

      }

 .a12 {
        background-color: rgb(229, 210, 210);
        width: 500px;
        height: 5px;
        position:absolute;
        margin: 23% 0% 0% 65%;
      }